.schedule {
  margin: -716px 0 0 236px;
  padding: 0 50px 0 32px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(5, auto);
  gap: 20px;
}

.schedule_choose_lesson {
  grid-column: span 12;
  /* margin-bottom: 26px; */

  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 20px;
}

.schedule_choose_lesson_select {
  -webkit-appearance: none;
  -moz-appearance: none;
  grid-column: 1/4;
  padding: 10px;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  color: var(--secondary-font);
  font-size: 12px;
  line-height: 16.2px;
  font-family: var(--main-ff);
  background-color: var(--white);
  background-image: url('/img/arrow down.svg');
  background-repeat: no-repeat;
  background-position: center right 16px;
  &:hover {
    cursor: pointer;
  }
}

.schedule_choose_lesson_button {
  grid-column: 9/13;
  background-color: var(--bg-lightpurple);
  margin: 0;
  padding: 10px 0;
  font-size: 16px;
  line-height: 20px;
  border: none;
  border-radius: var(--base-radius);
}

.schedule_calendar_header_nav {
  grid-column: span 2;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  font-weight: bold;
  line-height: 20px;
  align-items: center;
  align-content: center;
  gap: 16px;
  height: 32px;
}

.schedule_calendar_header_prev,
.schedule_calendar_header_next {
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  width: 24px;
  height: 24px;
}

.schedule_calendar_header_prev {
  background-image: url('/img/schevron left.svg');
}
.schedule_calendar_header_next {
  background-image: url('/img/schevron right.svg');
}

.schedule_calendar_header_today {
  margin: 0;
  padding: 0 16px;
  background-color: transparent;
  border: 1px solid var(--main-border-color);
  border-radius: var(--md-radius);
  font-size: 12px;
}

.schedule_calendar_header_info {
  margin: 4px 0;
  padding: 0;
  background-color: transparent;
  border: none;
  width: 24px;
  height: 24px;
  background-image: url('/img/info button.svg');
}

.schedule_calendar_wrapper {
  grid-column: span 12;
  display: grid;
  grid-template-rows: 24px repeat(5, 101px);
}

.schedule_calendar_header,
.schedule_calendar_week {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.schedule_calendar_header {
  text-align: right;
}

.schedule_calendar_day {
  border-top: none;
  height: 101px;
  border-top: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
  font-size: 12px;
  padding: 4px;
}
.schedule_calendar_day_date {
  margin: 0 0 10px 0;
  padding: 0;
  text-align: right;
}

.weekend {
  background-color: var(--table-inactive-bg);
}
.weekend:last-child {
  border-right: 1px solid var(--border-color);
}

.inactive_month {
  color: var(--inactive-month);
}

.schedule_calendar_week.last {
  border-bottom: 1px solid var(--border-color);
}

.schedule_calendar_day_lesson {
  height: 34px;
  border-radius: 2px;
  padding: 4px;
  /* border: 0.5px solid red; */
}

.schedule_calendar_day_lesson:last-child {
  margin-top: 2px;
}

.schedule_calendar_day_lesson_time,
.schedule_calendar_day_lesson_title {
  margin: 0;
  padding: 0;
  color: var(--main-font);
}

.schedule_calendar_day_lesson_title {
  font-size: 10px;
}

.unpaid {
  border: 0.5px solid var(--accent);
  background-image: url('/img/Wallet.svg');
  background-repeat: no-repeat;
  background-position: right 2px top 2px;
}

.upcoming {
  background-color: var(--upcoming-lesson-bg);
  border: var(--upcoming-lesson-bg);
}

.crossedout {
  text-decoration: line-through;
  text-decoration-color: var(--secondary-font);
  border: 0.5px solid var(--secondary-font);
}

.complete {
  border: 0.5px solid var(--complete-lesson-border);
}

.todays1 {
  background-color: var(--todays-lesson1-bg);
  border: 0.5px solid var(--todays-lesson1-border);
}
.todays2 {
  background-color: var(--todays-lesson2-bg);
  border: 0.5px solid var(--todays-lesson2-border);
}
