.schedule {
  margin: -640px 0 0 286px;
  padding: 0 50px 0 32px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(5, auto);
}

.schedule_choose_lesson {
  grid-column: span 12;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 20px;
}

.schedule_choose_lesson_select {
  -webkit-appearance: none;
  -moz-appearance: none;
  grid-column: 1/4;
  padding: 10px;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  color: var(--secondary-font);
  font-size: 12px;
  line-height: 16.2px;
  font-family: var(--main-ff);
  background-color: var(--white);
  background-image: url('/img/arrow down.svg');
  background-repeat: no-repeat;
  background-position: center right 16px;
  &:hover {
    cursor: pointer;
  }
}

.schedule_calendar_header_nav {
  margin-top: 26px;
  grid-column: span 2;
  display: flex;
  flex-flow: row nowrap;
  font-weight: bold;
  line-height: 20px;
  align-items: center;
  align-content: center;
  height: 32px;
}

.schedule_calendar_header_prev,
.schedule_calendar_header_next {
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  width: 24px;
  height: 24px;
}

.schedule_calendar_header_prev {
  background-image: url('/img/schevron left.svg');
  margin-right: 16px;
}
.schedule_calendar_header_next {
  background-image: url('/img/schevron right.svg');
  margin-left: 16px;
}

.schedule_calendar_header_today_span {
  grid-column: 3/5;
  align-content: center;
  padding-left: 8px;
  margin-top: 26px;
}

.schedule_calendar_header_info {
  padding: 0;
  background-color: transparent;
  border: none;
  padding: 10px;
  width: 24px;
  height: 24px;
  background-image: url('/img/info button.svg');
  background-repeat: no-repeat;
}

.schedule_calendar_wrapper {
  grid-column: span 12;
  display: grid;
  grid-template-rows: 20px repeat(5, 101px);
  margin-top: 15px;
}

.schedule_calendar_header,
.schedule_calendar_week {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.schedule_calendar_header {
  height: 20px;
}

.schedule_calendar_weekday {
  text-align: right;
  padding-right: 4px;
}

.schedule_calendar_day {
  border-top: none;
  height: 101px;
  border-top: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
  font-size: 12px;
  padding: 2px 4px;
}
.schedule_calendar_day_date {
  margin: 0 0 10px 0;
  padding: 0;
  text-align: right;
}

.schedule_calendar_week.last {
  border-bottom: 1px solid var(--border-color);
}

.schedule_calendar_day_lesson {
  height: 34px;
  border-radius: 2px;
  padding: 4px;
}

.schedule_calendar_day_lesson:last-child {
  margin-top: 2px;
}

.schedule_calendar_day_lesson_time,
.schedule_calendar_day_lesson_title {
  margin: 0;
  padding: 0;
  color: var(--main-font);
}

.schedule_calendar_day_lesson_title {
  font-size: 10px;
}
