.menu {
  max-width: 236px;
  margin-top: -44px;
  margin-left: 50px;
  padding: 44px 20px 24px 0;
  background-color: var(--secondary-bg);
  border-radius: var(--base-radius);
}

.menu_logo {
  display: block;
  margin: 0 44px 42px;
}

.menu_nav {
  margin: 0;
  margin-bottom: 48px;
  padding: 0;
  list-style-type: none;
}

.menu_nav li {
  margin: 0;
  padding: 6px 0 6px 44px;
  border-top-right-radius: var(--base-radius);
  border-bottom-right-radius: var(--base-radius);
  line-height: 28px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 8.5px;
}

.menu_nav li a {
  color: var(--menu-link-color);
  font-size: 16px;
}

.menu_adv_banner {
  background-color: var(--main-bg);
  border-radius: var(--md-radius);
  margin: 0 0 0 20px;
  padding: 16px 16px 10px;
  background-image: url('/img/menu/gift illustration.svg');
  background-repeat: no-repeat;
  background-position: bottom right;
}

.menu_adv_banner_title {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: normal;
}

.menu_adv_banner_content {
  margin: 0;
  padding: 4px 0 8px;
  font-size: 10px;
  font-weight: 300;
}

.menu_adv_banner_button {
  margin: 0;
  padding: 8px 16px;
  background-color: var(--bg-lightblue);
  border: none;
  border-radius: var(--md-radius);
  font-size: 12px;
  font-family: var(--ff-main);
  &:hover {
    cursor: pointer;
  }
}

.menu_nav li:has(.menu_nav_active) {
  background-color: var(--button-bg-color);
}
.menu_nav li:has(.menu_nav_active) a,
.menu_nav li:has(.menu_nav_active) .home_svg path {
  font-weight: bold;
  color: var(--white);
  fill: var(--white);
}
.menu_nav li:has(.menu_nav_active) .schedule_svg path {
  stroke: var(--white);
  color: var(--white);
}

.disabled {
  pointer-events: none;
}
