.profile_wrapper {
  display: block;
  padding: 30px;
  background-color: var(--main-bg);
  position: absolute;
  right: 50px;
  top: 68px;
  border: 1px solid var(--main-border-color);
  border-radius: 12px;
  min-width: 250px;
}

.profile_change_user {
  margin: 0;
  margin-bottom: 12px;
  padding: 0;
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
}

.profile_user {
  margin-bottom: 8px;
  padding: 8px;
  border-radius: 12px;
  display: flex;
  flex-flow: row nowrap;
}

.profile_user img {
  margin-right: 8px;
  border: 1px solid var(--third-color);
  border-radius: 50%;
  width: 32px;
  height: 32px;
  object-fit: cover;
}

.profile_user_details {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}
.profile_user_details p {
  margin: 0;
  padding: 0;
}

.profile_user_name {
  font-size: 12px;
}
.profile_current {
  font-size: 10px;
}

.profile_user_list {
  padding-bottom: 4px;
  border-bottom: 1px solid var(--secondary-border);
}

.current {
  background-color: var(--secondary-bg);
}

.profile_logout {
  margin-top: 12px;
  padding: 10px 0;
  width: 100%;
  border: none;
  background-color: transparent;
  font-size: 16px;
  text-align: left;
  line-height: 21.6px;
  font-weight: bold;
  color: var(--link-font-color);
  background-image: url('/img/exit.svg');
  background-repeat: no-repeat;
  background-position: right center;
}

.profile_close {
  position: absolute;
  border: none;
  background-color: transparent;
  width: 24px;
  height: 24px;
  background-image: url('/img/Delete, Disabled.svg');
  background-repeat: no-repeat;
  background-position: center center;
  top: 12px;
  right: 12px;
}

.profile_arrow {
  position: absolute;
  top: -10px;
  right: 30px;
}

.hidden {
  display: none;
}
