.main_page {
  margin: -639px 0 0 286px;
  padding: 0 50px 0 32px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(3, auto);
  gap: 20px;
}

.main_page_adv1 {
  padding: 56px 192px 56px 40px;
  background-color: var(--third-color);
  border-radius: var(--base-radius);
  grid-column: span 6;
  grid-row: span 2;
  color: var(--white);
  background-image: url('/img/SF_2 1.png');
  background-repeat: no-repeat;
  background-position: center right;
  background-size: auto 100%;
}

.main_page_adv1_title {
  margin: 0;
  padding: 0 0 12px 0;
  font-size: 30px;
  line-height: 32px;
  width: 100%;
}

.main_page_adv1_content {
  margin: 0;
  padding: 0;
  font-weight: 300;
  line-height: 20px;
}

.main_next_lesson {
  background-color: var(--bg-yellow);
  border-radius: var(--base-radius);
  grid-column: span 4;
  grid-row: span 2;
  padding: 32px 50px 30px;
  text-align: center;
}

.main_next_lesson_title {
  margin: 0;
  padding: 0;
  font-size: 20px;
  line-height: 20px;
}

.main_next_lesson_timer {
  margin: 0;
  padding: 32px 0 30px;
  font-size: 36px;
  line-height: 35px;
  font-variant-numeric: tabular-nums;
}

.main_next_lesson_timer_unit {
  font-size: 15px;
  line-height: 20px;
  margin-left: 4px;
}

.main_next_lesson_timer_unit:nth-child(1),
.main_next_lesson_timer_unit:nth-child(2) {
  margin-right: 12px;
}

.main_hometask {
  grid-column: span 2;
  grid-row: span 1;
  padding: 16px;
  background-color: var(--bg-lightblue);
  border-radius: var(--base-radius);
  font-size: 20px;
  background-image: url('/img/icon-hometask.svg');
  background-repeat: no-repeat;
  background-position: right 16px bottom 16px;
}

.main_teachers_report {
  grid-column: span 2;
  grid-row: span 1;
  padding: 16px;
  background-color: var(--bg-lightviolet);
  border-radius: var(--base-radius);
  font-size: 20px;
  background-image: url('/img/icon-reports.svg');
  background-repeat: no-repeat;
  background-position: right 16px bottom 16px;
}

@media (max-width: 1360px) {
  .main_page {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto repeat(2, minmax(114px, 1fr)) auto auto;
  }

  .main_page_adv1,
  .main_remaining_lessons,
  .main_upcoming_lessons {
    grid-column: 1/-1;
    grid-row: auto;
  }

  .main_next_lesson {
    grid-column: 1;
  }

  .main_hometask,
  .main_teachers_report {
    grid-column: 2;
  }

  .main_hometask {
    grid-row: 2;
  }

  .main_teachers_report {
    grid-row: 3;
  }
}
