.main_page {
  margin: -639px 0 0 286px;
  padding: 0 50px 0 32px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(3, auto);
  gap: 20px;
}

.main_page_adv1 {
  padding: 56px 192px 56px 40px;
  background-color: var(--third-color);
  border-radius: var(--base-radius);
  grid-column: span 6;
  grid-row: span 2;
  color: var(--white);
  background-image: url('/img/SF_2 1.png');
  background-repeat: no-repeat;
  background-position: center right;
  background-size: auto 100%;
}

.main_page_adv1_title {
  margin: 0;
  padding: 0 0 12px 0;
  font-size: 30px;
  line-height: 32px;
  width: 100%;
}

.main_page_adv1_content {
  margin: 0;
  padding: 0;
  font-weight: 300;
  line-height: 20px;
}

.main_next_lesson {
  background-color: var(--bg-yellow);
  border-radius: var(--base-radius);
  grid-column: span 4;
  grid-row: span 2;
  padding: 32px 50px 30px;
  text-align: center;
}

.main_next_lesson_title {
  margin: 0;
  padding: 0;
  font-size: 20px;
  line-height: 20px;
}

.main_next_lesson_timer {
  margin: 0;
  padding: 32px 0 30px;
  font-size: 36px;
  line-height: 35px;
  font-variant-numeric: tabular-nums;
}

.main_next_lesson_timer_unit {
  font-size: 15px;
  line-height: 20px;
  margin-left: 4px;
}

.main_next_lesson_timer_unit:nth-child(1),
.main_next_lesson_timer_unit:nth-child(2) {
  margin-right: 12px;
}

.main_hometask {
  grid-column: span 2;
  grid-row: span 1;
  padding: 16px;
  background-color: var(--bg-lightblue);
  border-radius: var(--base-radius);
  font-size: 20px;
  background-image: url('/img/icon-hometask.svg');
  background-repeat: no-repeat;
  background-position: right 16px bottom 16px;
}

.main_teachers_report {
  grid-column: span 2;
  grid-row: span 1;
  padding: 16px;
  background-color: var(--bg-lightviolet);
  border-radius: var(--base-radius);
  font-size: 20px;
  background-image: url('/img/icon-reports.svg');
  background-repeat: no-repeat;
  background-position: right 16px bottom 16px;
}

.main_remaining_lessons {
  grid-column: span 4;
  padding: 28px 4px 30px 28px;
  border: 1px solid var(--main-border-color);
  border-radius: var(--base-radius);
}

.main_remaining_lessons_list {
  margin: 14px 0 0;
  padding: 0;
  list-style-type: none;
  overflow-y: auto;
  max-height: 198px;
  scrollbar-color: var(--secondary-bg) transparent;
  scrollbar-width: thin;
}

.main_remaining_lessons_name {
  margin: 0;
  padding: 0;
}

.main_remaining_lessons_list li {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 12px 0;
  font-size: 16px;
  line-height: 16px;
  border-bottom: 1px solid var(--secondary-border);
}

.main_remaining_lessons_list li {
  margin-right: 24px;
}

.main_remaining_lessons_list li + li,
.main_upcoming_lessons_list li + li {
  margin-top: 2px;
}

.main_remaining_lessons_count {
  padding: 12px 12px 12px 10px;
  background-color: var(--secondary-bg);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 20px;
  text-align: center;
}

.main_remaining_lessons_button_wrapper {
  width: 100%;
  padding-right: 24px;
  margin-top: auto;
}

.main_remaining_lessons_button {
  margin: 0;
  padding: 10px;
  width: 100%;
  background-color: var(--bg-lightpurple);
  border: none;
  border-radius: var(--base-radius);
  font-size: 16px;
}

.main_remaining_lessons,
.main_upcoming_lessons {
  display: flex;
  flex-direction: column;
  min-height: 372px;
}

.main_upcoming_lessons {
  grid-column: span 8;
  padding: 28px 28px 30px;
  border: 1px solid var(--main-border-color);
  border-radius: var(--base-radius);
}

.main_upcoming_lessons_list {
  margin: 12px 0;
  padding: 0;
  list-style-type: none;
}

.main_upcoming_lessons_list li {
  padding: 10px 40px 8px 0;
  font-size: 16px;
  line-height: 20px;
  border-bottom: 1px solid var(--secondary-border);
  display: grid;
  grid-template-columns: 42px minmax(100px, 216px) 70px minmax(100px, 154px) auto;
  gap: 2px;
  align-content: start;
  align-items: center;
}

.main_upcoming_lessons_day {
  margin: 0;
  padding: 0;
  font-size: 32px;
  line-height: 32px;
  text-align: center;
}

.main_upcoming_lessons_month {
  margin: 0;
  padding: 0;
  font-size: 12px;
  text-align: center;
  line-height: 16.2px;
}

.main_upcoming_lessons_name {
  margin: 0;
  padding: 0;
  margin-left: 12px;
}

.main_upcoming_lessons_teacher {
  display: flex;
  flex-flow: row wrap;
  gap: 2px;
  align-items: center;
  margin-left: 4px;
}

.main_upcoming_lessons_details_time,
.main_upcoming_lessons_details_name {
  margin: 0;
  padding: 0;
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
}

.main_upcoming_lessons_details_name {
  font-weight: 300;
}

.main_upcoming_lessons_buttons {
  margin-left: 6px;
}

.main_upcoming_lessons_buttons button + button {
  margin-left: 4px;
}

.main_upcoming_lessons_buttons button.active {
  background-color: var(--button-bg-color);
  color: var(--white);
}

.main_upcoming_lessons_button_wrapper {
  padding: 0 154px;
  margin-top: auto;
}

@media (max-width: 1360px) {
  .main_page {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto repeat(2, minmax(114px, 1fr)) auto auto;
  }

  .main_page_adv1,
  .main_remaining_lessons,
  .main_upcoming_lessons {
    grid-column: 1/-1;
    grid-row: auto;
  }

  .main_next_lesson {
    grid-column: 1;
  }

  .main_hometask,
  .main_teachers_report {
    grid-column: 2;
  }

  .main_hometask {
    grid-row: 2;
  }

  .main_teachers_report {
    grid-row: 3;
  }
}
