.main_page {
  margin: -726px 0 0 236px;
  padding: 0 50px 0 32px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(5, auto);
}

.main_page_adv1 {
  padding: 56px 192px 56px 40px;
  background-color: var(--third-color);
  border-radius: var(--base-radius);
  grid-column: span 6;
  grid-row: span 2;
  color: var(--white);
  background-image: url('/img/SF_2 1.png');
  background-repeat: no-repeat;
  background-position: center right;
}

.main_page_adv1_title {
  margin: 0;
  padding: 0 0 12px 0;
  font-size: 32px;
  line-height: 32px;
  font-weight: bold;
}

.main_page_adv1_content {
  margin: 0;
  padding: 0;
  font-weight: 300;
  line-height: 20px;
}
