.main_upcoming_lessons {
  display: flex;
  flex-direction: column;
  min-height: 372px;
}

.main_upcoming_lessons {
  grid-column: span 8;
  padding: 28px 28px 30px;
  border: 1px solid var(--main-border-color);
  border-radius: var(--base-radius);
}

.main_upcoming_lessons_list {
  margin: 12px 0;
  padding: 0;
  list-style-type: none;
}

.main_upcoming_lessons_list li {
  padding: 10px 40px 8px 0;
  font-size: 16px;
  line-height: 20px;
  border-bottom: 1px solid var(--secondary-border);
  display: grid;
  grid-template-columns: 42px minmax(100px, 216px) 70px minmax(100px, 154px) auto;
  gap: 2px;
  align-content: start;
  align-items: center;
  justify-content: space-between;
}

.main_upcoming_lessons_day {
  margin: 0;
  padding: 0;
  font-size: 32px;
  line-height: 32px;
  text-align: center;
}

.main_upcoming_lessons_month {
  margin: 0;
  padding: 0;
  font-size: 12px;
  text-align: center;
  line-height: 16.2px;
}

.main_upcoming_lessons_name {
  margin: 0;
  padding: 0;
  margin-left: 12px;
}

.main_upcoming_lessons_teacher {
  display: flex;
  flex-flow: row wrap;
  gap: 2px;
  align-items: center;
  margin-left: 4px;
}

.main_upcoming_lessons_details_time,
.main_upcoming_lessons_details_name {
  margin: 0;
  padding: 0;
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
}

.main_upcoming_lessons_details_name {
  font-weight: 300;
}

.main_upcoming_lessons_buttons {
  margin-left: 6px;
}

.main_upcoming_lessons_buttons button + button {
  margin-left: 4px;
}

.main_upcoming_lessons_buttons button.active {
  background-color: var(--button-bg-color);
  color: var(--white);
}

.main_upcoming_lessons_button_wrapper {
  padding: 0 154px;
  margin-top: auto;
}

.main_upcoming_lessons_list li + li {
  margin-top: 2px;
}