.header {
  background-color: var(--main-bg);
  margin-left: 236px;
  padding: 12px 50px 12px 32px;
  height: 68px;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  box-shadow: 0 10px 12px -2px var(--border-color);
  position: relative;
}

.header_username {
  color: var(--third-color);
}

.header_personal {
  margin-left: auto;
  display: flex;
  flex-flow: row wrap;
}

.header_msg,
.header_profile {
  padding: 0;
  margin: 0;
  border: 1px solid var(--third-color);
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background-color: transparent;
}

.header_profile img {
  display: block;
  object-fit: cover;
  aspect-ratio: 1;
  max-width: 100%;
  border-radius: inherit;
}

.header_msg {
  position: relative;
  background-image: url('/img/Messages, Chat.svg');
  background-repeat: no-repeat;
  background-position: center center;
  margin-right: 16px;
}

.header_unread_msg {
  background-color: var(--accent);
  color: var(--white);
  width: 16px;
  height: 16px;
  border-radius: 50%;
  position: absolute;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  line-height: 16px;
  z-index: 10;
  right: -5px;
  top: -4px;
}

.header_profile_expand {
  border: none;
  width: 24px;
  height: 24px;
  background-color: transparent;
  background-image: url('/img/arrow.svg');
  background-repeat: no-repeat;
  background-position: center top 20px;
  background-size: 8px 4px;
}

