.header {
  background-color: var(--main-bg);
  margin-left: 236px;
  padding: 12px 50px 12px 32px;
  max-height: 68px;
  border-bottom-left-radius: var(--base-radius);
  border-bottom-right-radius: var(--base-radius);
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 10px 12px -2px var(--border-color);
  position: relative;
}

.header_username {
  color: var(--third-color);
}

.header_personal {
  display: flex;
  flex-flow: row wrap;
  gap: 16px;
}

.header_msg,
.header_profile {
  padding: 0;
  margin: 0;
  border: 1px solid var(--third-color);
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background-color: transparent;
}

.header_profile img {
  display: block;
 object-fit: contain;
    max-width: 100%;
    object-position: center;
    border-radius: 50%;
}

.header_msg {
  position: relative;
  background-image: url('/img/Messages, Chat.svg');
  background-repeat: no-repeat;
  background-position: center center;
}

.header_unread_msg {
  background-color: var(--accent);
  padding-top: 3px;
  color: var(--white);
  width: 16px;
  height: 16px;
  border-radius: 50%;
  position: absolute;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  z-index: 10;
  right: -4px;
  top: -6px;
}

.header_profile_expand {
  border: none;
  width: 24px;
  height: 24px;
  background-color: transparent;
  background-image: url('/img/arrow.svg');
  background-repeat: no-repeat;
  background-position: center center;
}
