.login {
  max-width: 340px;
  margin: 152px auto;
}

.login_logo {
  display: block;
  margin: 0 auto 26px;
}

.login_title {
  margin: 0;
  padding: 0 0 16px;
  font-size: 40px;
  text-align: center;
  line-height: 35px;
}

.login_form {
  width: 100%;
}

.input_email,
.input_password {
  display: block;
  margin: 0;
  padding: 10px 12px;
  width: 100%;
  height: 36px;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  color: var(--secondary-font);
  background-color: var(--white);
  font-family: var(--ff-main);
  font-size: 14px;
  line-height: 16.2px;
  &::placeholder {
    font-size: 12px;
    color: var(--secondary-font);
  }
}

.input_email {
  margin-bottom: 12px;
}
.input_password {
  margin-bottom: 16px;
  background-image: url('/img/icon_hide.svg');
  background-repeat: no-repeat;
  background-position: center right 10px;
  padding: 10px 26px 10px 12px;
}

.login_rm {
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  align-items: center;
}

.login_rm_label {
  font-size: 12px;
  color: var(--secondary-font);
  margin: 0;
  padding: 0;
}

.login_rm_check {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
  appearance: none;
  background-color: var(--white);
  margin: 4px 8px 4px 4px;
  color: currentColor;
  width: 16px;
  height: 16px;
  border: 1px solid var(--border-color);
  border-radius: 0.15em;
  transform: translateY(-0.075em);

  display: grid;
  place-content: center;
}

.login_rm_check::before {
  content: '';
  width: 10px;
  height: 10px;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 10px 10px var(--third-color);
}
.login_rm_check:checked::before {
  transform: scale(1);
}

.login_enter {
  display: block;
  width: 100%;
  height: 48px;
  margin: 32px 0 6px;
  padding: 10px 86px;
  border: none;
  border-radius: var(--base-radius);
  background-color: var(--button-bg-color);
  font-size: 18px;
  font-family: var(--ff-main);
  font-weight: bold;
  line-height: 22.5px;
  color: var(--white);
  &:hover {
    cursor: pointer;
  }
}

.login_enter_links {
  display: flex;
  margin-bottom: 64px;
  padding: 10px 0;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.login_noacc {
  text-align: center;
  padding: 0;
  margin: 0;
}

.login_register {
  display: block;
  margin: 8px 0 0 0;
  text-align: center;
}

.login_lang_switch {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  margin-top: 102px;
}

.login_ru,
.login_en {
  border: none;
  background-color: transparent;
  color: var(--secondary-font);
  font-family: var(--ff-main);
  font-size: 16px;
  &:hover {
    cursor: pointer;
  }
}

.active_lng {
  color: var(--third-color);
  font-size: 24px;
}
