@font-face {
  font-family: 'Circe Rounded';
  src: url('assets/fonts/CirceRounded-Regular5.ttf');
}

:root {
  --main-bg: #fdfdff;
  --secondary-bg: #eeeeff;
  --bg-yellow: #fff1cb;
  --bg-lightblue: #d8ecff;
  --bg-lightviolet: #e8cbff;
  --bg-lightpurple: #decfff;
  --white: #ffffff;
  --table-inactive-bg: #fbfbfc;
  --menu-fc: #434b74;
  --accent: #e84849;
  --main-border-color: #8d7fc7;
  --secondary-border: #eeeeff;

  --main-font: #323854;
  --secondary-font: #79747f;

  --menu-link-color: #434b74;
  --link-font-color: #008aff;
  --button-bg-color: #8d7fc7;
  --third-color: #7362bc;
  --border-color: #ececec;

  --ff-main: 'Circe Rounded', sans-serif;
  --base-radius: 30px;
  --md-radius: 15px;
}

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0 0 0 50px;
  padding: 0;
  /* width: 100%; */
  background-color: var(--main-bg);
  color: var(--main-font);
  font-family: var(--ff-main);
  font-size: 16px;
  /* outline: 1px solid red; */
}

.sr_only {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

a {
  text-decoration: none;
  color: var(--link-font-color);
}

h2 {
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-weight: bold;
  line-height: 24px;
}

button {
  font-family: var(--ff-main);
}
