@font-face {
  font-family: 'Circe Rounded';
  src: url('assets/fonts/CirceRounded-Regular5.ttf');
}

:root {
  --main-bg: #f6f6fe;
  --secondary-bg: #eeeeff;
  --main-font: #323854;
  --secondary-font: #79747f;
  --white: #ffffff;
  --link-font-color: #008aff;
  --button-bg-color: #8d7fc7;
  --third-color: #7362bc;
  --adv-bg: #fff1cb;
  --border-color: #ececec;
  --table-inactive-bg: #fbfbfc;

  --ff-main: 'Circe Rounded', sans-serif;
  --base-radius: 30px;
}

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0 50px;
  padding: 0;
  /* width: 100%; */
  background-color: var(--main-bg);
  color: var(--main-font);
  font-family: var(--ff-main);
  font-size: 16px;
  /* outline: 1px solid red; */
}

.sr_only {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

a {
  text-decoration: none;
  color: var(--link-font-color);
}