@font-face {
  font-family: 'Circe Rounded';
  src: url('assets/fonts/CirceRounded-ExtraLight.eot');
  src: local('Circe Rounded Extra Light'), local('CirceRounded-ExtraLight'),
    url('assets/fonts/CirceRounded-ExtraLight.eot?#iefix')
      format('embedded-opentype'),
    url('assets/fonts/CirceRounded-ExtraLight.woff2') format('woff2'),
    url('assets/fonts/CirceRounded-ExtraLight.woff') format('woff'),
    url('assets/fonts/CirceRounded-ExtraLight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

/* @font-face {
  font-family: 'Circe Rounded';
  src: url('assets/fonts/CirceRounded-Regular2.eot');
  src: local('Circe Rounded  Regular 2'), local('CirceRounded-Regular2'),
    url('assets/fonts/CirceRounded-Regular2.eot?#iefix')
      format('embedded-opentype'),
    url('assets/fonts/CirceRounded-Regular2.woff2') format('woff2'),
    url('assets/fonts/CirceRounded-Regular2.woff') format('woff'),
    url('assets/fonts/CirceRounded-Regular2.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
} */

@font-face {
  font-family: 'Circe Rounded Alt';
  src: url('CirceRoundedAlt-Regular2.eot');
  src: local('Circe Rounded Alt  Regular 2'), local('CirceRoundedAlt-Regular2'),
    url('CirceRoundedAlt-Regular2.eot?#iefix') format('embedded-opentype'),
    url('CirceRoundedAlt-Regular2.woff2') format('woff2'),
    url('CirceRoundedAlt-Regular2.woff') format('woff'),
    url('CirceRoundedAlt-Regular2.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Circe Rounded';
  src: url('assets/fonts/CirceRounded-Regular5.eot');
  src: local('Circe Rounded  Regular 5'), local('CirceRounded-Regular5'),
    url('assets/fonts/CirceRounded-Regular5.eot?#iefix')
      format('embedded-opentype'),
    url('assets/fonts/CirceRounded-Regular5.woff2') format('woff2'),
    url('assets/fonts/CirceRounded-Regular5.woff') format('woff'),
    url('assets/fonts/CirceRounded-Regular5.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

/* @font-face {
  font-family: 'Circe Rounded';
  src: url('assets/fonts/CirceRounded-Regular.eot');
  src: local('Circe Rounded'), local('CirceRounded-Regular'),
    url('assets/fonts/CirceRounded-Regular.eot?#iefix')
      format('embedded-opentype'),
    url('assets/fonts/CirceRounded-Regular.woff2') format('woff2'),
    url('assets/fonts/CirceRounded-Regular.woff') format('woff'),
    url('assets/fonts/CirceRounded-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
} */

/* @font-face {
  font-family: 'Circe Rounded';
  src: url('assets/fonts/CirceRounded-Regular4.eot');
  src: local('Circe Rounded  Regular 4'), local('CirceRounded-Regular4'),
    url('assets/fonts/CirceRounded-Regular4.eot?#iefix')
      format('embedded-opentype'),
    url('assets/fonts/CirceRounded-Regular4.woff2') format('woff2'),
    url('assets/fonts/CirceRounded-Regular4.woff') format('woff'),
    url('assets/fonts/CirceRounded-Regular4.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
} */

:root {
  --main-bg: #fdfdff;
  --secondary-bg: #eeeeff;
  --bg-yellow: #fff1cb;
  --bg-lightblue: #d8ecff;
  --bg-lightviolet: #e8cbff;
  --bg-lightpurple: #decfff;
  --white: #ffffff;
  --table-inactive-bg: #fbfbfc;
  --menu-fc: #434b74;
  --accent: #e84849;
  --main-border-color: #8d7fc7;
  --secondary-border: #eeeeff;
  --upcoming-lesson-bg: #d7f0d6;
  --todays-lesson1-bg: #eeeeff;
  --todays-lesson2-bg: #f5f5f5;

  --main-font: #323854;
  --secondary-font: #79747f;
  --inactive-month: #c8c5cd;

  --menu-link-color: #434b74;
  --link-font-color: #008aff;
  --button-bg-color: #8d7fc7;
  --third-color: #7362bc;
  --border-color: #ececec;
  --complete-lesson-border: #22782b;
  --todays-lesson1-border: #decfff;
  --todays-lesson2-border: #c8c5cd;

  --ff-main: 'Circe Rounded', sans-serif;
  --base-radius: 30px;
  --md-radius: 15px;
}

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  margin: 0 0 0 50px ;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--main-bg);
  color: var(--main-font);
  font-family: var(--ff-main);
  font-size: 16px;
}

.sr_only {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

a {
  text-decoration: none;
  color: var(--link-font-color);
}

h2 {
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-weight: normal;
  line-height: 24px;
}

button {
  font-family: var(--ff-main);
  &:hover {
    cursor: pointer;
  }
}
